.toggled {
    height: 50px;
    width: 200px;
    border-bottom: 1px solid black;
    -webkit-transition: height 200ms linear; /* Safari */
    transition: height 200ms linear;
}

.container .hidden:nth-child(2) {
    height: 100px;
}

@media(max-width: 500px) {
    .toggled {
        width: 100%;
    }
}
